@tailwind base;
@tailwind components;
@tailwind utilities;

 
  :root {
    --text-color: rgb(255, 255, 255);
    --bg-color: rgb(52, 53, 65);
    --sidebar-color: rgb(32,33,35);
    --border-color: rgb(205,205,205);
    --primary-hover-color: rgba(32,33,35, 0.7);
    --secondary-hover-color: rgba(52,53,65, 0.7);
  }

  [data-theme='light'] {
    --text-color: rgb(19, 19, 19);
    --bg-color: rgb(240, 240, 240);
    --sidebar-color: rgb(199, 199, 199);
    --border-color: rgb(42,42,42);
    --primary-hover-color: rgba(199,199,199,0.7);
    --secondary-hover-color: rgba(240,240,240,0.7);
  }
  [data-theme='dark'] {
    --text-color: rgb(255, 255, 255);
    --bg-color: rgb(18, 18, 18);
    --sidebar-color: rgb(9, 9, 9);
    --border-color: rgb(255, 255,255);
    --primary-hover-color: rgba(9,9,9,0.6);
    --secondary-hover-color: rgba(18,18,18,0.7);
  }
  [data-theme='blueberry'] {
    --text-color: rgb(255, 255, 255);
    --bg-color: rgb(2, 36, 78);
    --sidebar-color: rgb(1, 16, 36);
    --border-color: rgba(110, 175, 255, 0.7);
    --primary-hover-color: rgba(1, 16, 36, 0.7);
    --secondary-hover-color: rgba(2,36,78, 0.7);
  }
  [data-theme='aqua'] {
    --text-color: rgb(1, 16, 36);
    --bg-color: rgb(97, 246, 243);
    --sidebar-color: rgb(31, 181, 178);
    --border-color: rgb(155, 255, 253);
    --primary-hover-color: rgba(57, 193, 191, 0.7);
    --secondary-hover-color: rgba(97,246,243, 0.7);
  }
  [data-theme='cherry'] {
    --text-color: rgb(243, 243, 243);
    --bg-color: rgb(202, 21, 21);
    --sidebar-color: rgb(56, 2, 2);
    --border-color: rgb(255, 115, 115);
    --primary-hover-color: rgba(56,2,2, 0.7);
    --secondary-hover-color:  rgba(202,21,21, 0.7);
  }
  [data-theme='forest'] {
    --text-color: rgb(243, 243, 243);
    --bg-color: rgb(7, 117, 49);
    --sidebar-color: rgb(5, 37, 17);
    --border-color: rgb(135, 255, 181);
    --primary-hover-color: rgba(5,37,17, 0.7);
    --secondary-hover-color:  rgba(7,117,49, 0.7);
  }
  [data-theme='grape'] {
    --text-color: rgb(243, 243, 243);
    --bg-color: rgb(63, 14, 114);
    --sidebar-color: rgb(24, 2, 47);
    --border-color: rgb(173, 97, 255);
    --primary-hover-color: rgba(24,2,47, 0.7);
    --secondary-hover-color:  rgba(63,14,114, 0.7);
  }
  [data-theme='halloween'] {
    --text-color: rgb(255, 255, 255);
    --bg-color: rgb(167, 96, 25);
    --sidebar-color: rgb(0, 0, 0);
    --border-color: rgb(218, 139, 60);
    --primary-hover-color: rgba(0, 0, 0, 0.7);
    --secondary-hover-color:  rgba(167,96,25, 0.9);
  }

 .selectBox,
 .selectBox:focus,
 .selectBox:active,
 .selectBox:target{
  background: transparent!important;
  color: #000!important;
  outline: none!important;
  border: 1px solid var(--border-color)!important;
  border-radius: 5px;
 }
.selectBox::placeholder{
  color:var(--text-color)!important;
}
 

@layer components {
  .infoText {
    @apply p-4 bg-gray-700/50 rounded-lg max-w-[300px]
  }

  .chatRow {
    @apply rounded-lg px-5 py-3 text-sm flex items-center justify-center space-x-2 hover:bg-secondary-hover cursor-pointer transition-all
    duration-300 ease-in-out
  }
}